body {
    background-image: url("/image/pattern.jpg");
}

.bodyElfe {
    background-color: #EEEEEE;
}

.bodyPapa {
    background-color: #333333;
}

/* Start navbar */



/* End navbar */

div.container-fluid {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/*Start Accueil*/

.acceuil-navbar {
    margin-left: 25vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 2em;
}

.catalogue-navbar {
    margin-right: 25vw;
    font-size: 2em;
    margin-top: 2vh;
}

.navbar {
    background-color: #AFCAC1;
    border: none;
    border-radius: 0;
    color: black;
}

.jumbotron {
    background-color: #FAF6EB;
    color: #1B5350;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.accueil-intro {
    background-color: #FAF6EB;
    color: #1B5350;
    height: 30vh;
}

.textintro {
    text-align: center;
}

#demo {
    text-align: center;
    color: #C01920;
    animation: fadein 5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*End Accueil*/

/*Start Catalogue*/

.thumbnail {
    background-color: #FAF6EB;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.one-produit {
    margin: 0 15px;
}

.one-produit img {
    margin-top: 15px;
}

.centre-bouton {
    text-align: center;
}

h1 {
    text-align: center;
}

.description {
    background-color: #FAF6EB;
    color: #1B5350;
    padding: 4vh;
    margin-top: 0;
}

a h3 {
    color: #1B5350;
    text-align: center;
    background-color: #FAF6EB;
}

a h3:hover {
    text-decoration: none;
    color: #C01920;
}

a:hover {
    text-decoration: none;
}

.btn-default {
    background-color: #AFCAC1;
}

.btn-default:hover {
    background-color: #549091;
}

a.btn.btn-default {
    margin-bottom: 5px;
}

/*End Catalogue*/

/*Start Formulair*/

.FormEnfant {
    background-color: white;
    padding: 0;
    text-align: center;
    font-size: 1.3em;
}

.formulaire div {
    margin: 0 auto;
    text-align: center;
}

.formulaire label {
    margin: 0 10px 0 0;
    font-size: 1.5em;
}

.formulaire input {
    margin: 10px;
}

.formulaire .btn {
    font-size: 1.3em;
}

/*End Formulair*/

/*Admin*/

p {
    margin: auto;
    text-align: center;
}

.planning {
    background-color: white;
    padding: 0;
    text-align: center;
    font-size: 1.3em;
}


.timer-elfe {
    color: red;
    font-size: 15em;
}


